Repository redhat-developer/lsp4ij, pull requests merged in 2025-02, with the labels that each got.

#790 feat: use int instead of String for DAP connect timeout
  src/main/java/com/redhat/devtools/lsp4ij/dap/DAPServerReadyTracker.java
  src/main/java/com/redhat/devtools/lsp4ij/dap/configurations/DAPRunConfiguration.java
  src/main/java/com/redhat/devtools/lsp4ij/dap/configurations/DAPRunConfigurationOptions.java
  src/main/java/com/redhat/devtools/lsp4ij/dap/configurations/DAPSettingsEditor.java
  src/main/java/com/redhat/devtools/lsp4ij/dap/descriptors/DebugAdapterDescriptor.java
  src/main/java/com/redhat/devtools/lsp4ij/dap/descriptors/DebugAdapterManager.java
  src/main/java/com/redhat/devtools/lsp4ij/dap/descriptors/ServerReadyConfig.java
  src/main/java/com/redhat/devtools/lsp4ij/dap/descriptors/templates/DAPTemplate.java
  src/main/java/com/redhat/devtools/lsp4ij/dap/descriptors/templates/DAPTemplateDeserializer.java
  src/main/java/com/redhat/devtools/lsp4ij/dap/descriptors/userdefined/UserDefinedDebugAdapterDescriptorFactory.java
  src/main/java/com/redhat/devtools/lsp4ij/dap/settings/UserDefinedDebugAdapterDescriptorFactorySettings.java
  src/main/java/com/redhat/devtools/lsp4ij/dap/settings/ui/DAPConnectingServerConfigurationPanel.java
  src/main/java/com/redhat/devtools/lsp4ij/dap/settings/ui/DebugAdapterDescriptorFactoryPanel.java
  src/main/java/com/redhat/devtools/lsp4ij/dap/settings/ui/DebugAdapterDescriptorFactoryView.java
  src/main/java/com/redhat/devtools/lsp4ij/dap/settings/ui/NewDebugAdapterDescriptorFactoryDialog.java
Labels: enhancement, dap

#792 fix: avoid freezing LSP typed handler
  src/main/java/com/redhat/devtools/lsp4ij/features/formatting/LSPClientSideOnTypeFormattingTypedHandler.java
  src/main/java/com/redhat/devtools/lsp4ij/features/formatting/LSPServerSideOnTypeFormattingHelper.java
Labels: bug, formatting

#794 feat: improve DAP labels
  src/main/java/com/redhat/devtools/lsp4ij/dap/DAPDebugProcess.java
  src/main/java/com/redhat/devtools/lsp4ij/dap/DAPServerReadyTracker.java
  src/main/java/com/redhat/devtools/lsp4ij/dap/DebugMode.java
  src/main/java/com/redhat/devtools/lsp4ij/dap/DebugServerWaitStrategy.java
  src/main/java/com/redhat/devtools/lsp4ij/dap/DebuggingType.java
  src/main/java/com/redhat/devtools/lsp4ij/dap/LaunchConfiguration.java
  src/main/java/com/redhat/devtools/lsp4ij/dap/client/DAPClient.java
  src/main/java/com/redhat/devtools/lsp4ij/dap/configurations/DAPCommandLineState.java
  src/main/java/com/redhat/devtools/lsp4ij/dap/configurations/DAPRunConfiguration.java
  src/main/java/com/redhat/devtools/lsp4ij/dap/configurations/DAPRunConfigurationOptions.java
  src/main/java/com/redhat/devtools/lsp4ij/dap/configurations/DAPSettingsEditor.java
  src/main/java/com/redhat/devtools/lsp4ij/dap/descriptors/DebugAdapterDescriptor.java
  src/main/java/com/redhat/devtools/lsp4ij/dap/descriptors/DebugAdapterDescriptorFactory.java
  src/main/java/com/redhat/devtools/lsp4ij/dap/descriptors/DebugAdapterDescriptorFactoryListener.java
  src/main/java/com/redhat/devtools/lsp4ij/dap/descriptors/DebugAdapterManager.java
  src/main/java/com/redhat/devtools/lsp4ij/dap/descriptors/ServerReadyConfig.java
  src/main/java/com/redhat/devtools/lsp4ij/dap/descriptors/templates/DAPTemplate.java
  src/main/java/com/redhat/devtools/lsp4ij/dap/descriptors/templates/DAPTemplateDeserializer.java
  src/main/java/com/redhat/devtools/lsp4ij/dap/descriptors/templates/DAPTemplateManager.java
  src/main/java/com/redhat/devtools/lsp4ij/dap/descriptors/userdefined/UserDefinedDebugAdapterDescriptorFactory.java
  src/main/java/com/redhat/devtools/lsp4ij/dap/settings/UserDefinedDebugAdapterDescriptorFactorySettings.java
  src/main/java/com/redhat/devtools/lsp4ij/dap/settings/ui/DAPDebugServerWaitStrategyPanel.java
  src/main/java/com/redhat/devtools/lsp4ij/dap/settings/ui/DebugAdapterDescriptorFactoryPanel.java
  src/main/java/com/redhat/devtools/lsp4ij/dap/settings/ui/DebugAdapterDescriptorFactoryView.java
  src/main/java/com/redhat/devtools/lsp4ij/dap/settings/ui/NewDebugAdapterDescriptorFactoryDialog.java
  src/main/resources/dap/templates/go-delve/template.json
  src/main/resources/dap/templates/vscode-js-debug/template.json
  src/main/resources/messages/DAPBundle.properties
Labels: enhancement, dap

#795 feat: support for DAP inline value
  docs/dap/DAP.md
  docs/dap/images/DAP_inline_value_demo.gif
  src/main/java/com/redhat/devtools/lsp4ij/dap/client/DAPClient.java
  src/main/java/com/redhat/devtools/lsp4ij/dap/client/DAPStackFrame.java
  src/main/java/com/redhat/devtools/lsp4ij/dap/client/variables/DAPValue.java
  src/main/java/com/redhat/devtools/lsp4ij/dap/client/variables/DAPValueGroup.java
  src/main/java/com/redhat/devtools/lsp4ij/dap/client/variables/DAPValueModifier.java
  src/main/java/com/redhat/devtools/lsp4ij/dap/client/variables/providers/DebugVariableContext.java
  src/main/java/com/redhat/devtools/lsp4ij/dap/client/variables/providers/DebugVariablePositionProvider.java
  src/main/java/com/redhat/devtools/lsp4ij/dap/client/variables/providers/DefaultVariableRangeRegistrar.java
  src/main/java/com/redhat/devtools/lsp4ij/dap/client/variables/providers/HighlighterDebugVariablePositionProvider.java
  src/main/java/com/redhat/devtools/lsp4ij/dap/client/variables/providers/TextMateVariableRangeRegistrar.java
  src/main/java/com/redhat/devtools/lsp4ij/dap/client/variables/providers/VariableRangeRegistrar.java
  src/main/java/com/redhat/devtools/lsp4ij/dap/descriptors/DebugAdapterVariableSupport.java
  src/main/java/com/redhat/devtools/lsp4ij/dap/evaluation/DAPDebuggerEvaluator.java
Labels: enhancement, dap

#805 feat: add Julia language server
  docs/UserDefinedLanguageServer.md
  docs/dap/user-defined-dap/go-delve.md
  docs/dap/user-defined-dap/julia.md
  docs/dap/user-defined-dap/swift-lldb.md
  docs/dap/user-defined-dap/vscode-js-debug.md
  docs/images/user-defined-ls/clojure-lsp/ClojureLSPInLSPConsole.png
  docs/images/user-defined-ls/clojure-lsp/configure_file_mappings.png
  docs/images/user-defined-ls/clojure-lsp/select_template.png
  docs/images/user-defined-ls/gopls/GoTextMate.png
  docs/images/user-defined-ls/gopls/GoplsInLSPConsole.png
  docs/images/user-defined-ls/gopls/GoplsTemplateConfiguration.png
  docs/images/user-defined-ls/gopls/configure_file_mappings.png
  docs/images/user-defined-ls/gopls/demo_ls.gif
  docs/images/user-defined-ls/gopls/select_template.png
  docs/images/user-defined-ls/julia/configure_file_mappings.png
  docs/images/user-defined-ls/julia/configure_server_configuration.png
  docs/images/user-defined-ls/julia/demo_ls.gif
  docs/images/user-defined-ls/julia/julia_command.png
  docs/images/user-defined-ls/julia/julia_ls_install.png
  docs/images/user-defined-ls/julia/ls_in_console.png
  docs/images/user-defined-ls/julia/select_template.png
  docs/images/user-defined-ls/metals/MetaLSInLSPConsole.png
  docs/images/user-defined-ls/metals/configure_file_mappings.png
  docs/images/user-defined-ls/metals/demo_ls.gif
  docs/images/user-defined-ls/metals/select_template.png
  docs/images/user-defined-ls/rust-analyzer/RustAnalyzerInLSPConsole.png
  docs/images/user-defined-ls/rust-analyzer/RustAnalyzerTemplateConfiguration.png
  docs/images/user-defined-ls/rust-analyzer/RustTextMate.png
  docs/images/user-defined-ls/rust-analyzer/configure_file_mappings.png
  docs/images/user-defined-ls/rust-analyzer/demo_ls.gif
  docs/images/user-defined-ls/rust-analyzer/select_template.png
  docs/images/user-defined-ls/sourcekit-lsp/SourceKitLSPInLSPConsole.png
  docs/images/user-defined-ls/sourcekit-lsp/configure_file_mappings.png
  docs/images/user-defined-ls/sourcekit-lsp/select_template.png
  docs/images/user-defined-ls/typescript-language-server/TypeScriptServerDialog_Configuration.png
  docs/images/user-defined-ls/typescript-language-server/TypeScriptServerDialog_FileNamePatterns.png
  docs/images/user-defined-ls/typescript-language-server/TypeScriptServerDialog_FileType.png
  docs/images/user-defined-ls/typescript-language-server/demo_ls.gif
  docs/images/user-defined-ls/typescript-language-server/select_template.png
  docs/images/user-defined-ls/vscode-css-language-server/demo_ls.gif
  docs/images/user-defined-ls/vscode-css-language-server/select_template.png
  docs/user-defined-ls/clojure-lsp.md
  docs/user-defined-ls/gopls.md
  docs/user-defined-ls/julia.md
  docs/user-defined-ls/metals.md
  docs/user-defined-ls/rust-analyzer.md
  docs/user-defined-ls/sourcekit-lsp.md
  docs/user-defined-ls/typescript-language-server.md
  docs/user-defined-ls/vscode-css-language-server.md
  src/main/java/com/redhat/devtools/lsp4ij/client/SettingsHelper.java
  src/main/resources/templates/julia/clientSettings.json
  src/main/resources/templates/julia/initializationOptions.json
  src/main/resources/templates/julia/settings.json
  src/main/resources/templates/julia/settings.schema.json
  src/main/resources/templates/julia/template.json
  src/test/java/com/redhat/devtools/lsp4ij/client/SettingsHelperTest.java
Labels: enhancement, user-defined LS

#806 docs: synchronize DAP images with the new UI
  docs/UserDefinedLanguageServer.md
  docs/dap/images/go-delve/configuration_tab.png
  docs/dap/images/go-delve/file_mappings_tab.png
  docs/dap/images/go-delve/select_new_server.png
  docs/dap/images/go-delve/select_template.png
  docs/dap/images/go-delve/set_traces.png
  docs/dap/images/swift-lldb/configuration_tab.png
  docs/dap/images/swift-lldb/file_mappings_tab.png
  docs/dap/images/swift-lldb/select_new_server.png
  docs/dap/images/swift-lldb/select_template.png
  docs/dap/images/swift-lldb/set_traces.png
  docs/dap/images/vscode-js-debug/configuration_tab.png
  docs/dap/images/vscode-js-debug/file_mappings_tab.png
  docs/dap/images/vscode-js-debug/select_new_server.png
  docs/dap/images/vscode-js-debug/select_template.png
  docs/dap/images/vscode-js-debug/select_typescript_launch.png
  docs/dap/images/vscode-js-debug/set_traces.png
  docs/dap/user-defined-dap/go-delve.md
  docs/dap/user-defined-dap/julia.md
  docs/dap/user-defined-dap/swift-lldb.md
  docs/dap/user-defined-dap/vscode-js-debug.md
Labels: documentation

#810 feat: Support listen for server status changes
  docs/LSPApi.md
  src/main/java/com/redhat/devtools/lsp4ij/LanguageServerWrapper.java
  src/main/java/com/redhat/devtools/lsp4ij/client/LanguageClientImpl.java
  src/main/java/com/redhat/devtools/lsp4ij/client/features/LSPClientFeatures.java
Labels: enhancement, api-customization

#811 feat: store template id in the user ls definition
  src/main/java/com/redhat/devtools/lsp4ij/LanguageServersRegistry.java
  src/main/java/com/redhat/devtools/lsp4ij/launching/UserDefinedLanguageServerSettings.java
  src/main/java/com/redhat/devtools/lsp4ij/launching/templates/LanguageServerTemplate.java
  src/main/java/com/redhat/devtools/lsp4ij/launching/templates/LanguageServerTemplateDeserializer.java
  src/main/java/com/redhat/devtools/lsp4ij/launching/ui/NewLanguageServerDialog.java
  src/main/java/com/redhat/devtools/lsp4ij/server/definition/launching/UserDefinedLanguageServerDefinition.java
  src/main/resources/templates/sourcekit-lsp/template.json
  src/test/java/com/redhat/devtools/lsp4ij/launching/templates/LanguageServerDefinitionSerializerTest.java
  src/test/java/com/redhat/devtools/lsp4ij/launching/templates/LanguageServerTemplateManagerTest.java
Labels: enhancement, user-defined LS

#818 feat: add Erlang LS
  docs/UserDefinedLanguageServer.md
  docs/images/user-defined-ls/erlang-ls/configure_file_mappings.png
  docs/images/user-defined-ls/erlang-ls/configure_server_configuration.png
  docs/images/user-defined-ls/erlang-ls/demo_ls.gif
  docs/images/user-defined-ls/erlang-ls/ls_in_console.png
  docs/images/user-defined-ls/erlang-ls/select_template.png
  docs/user-defined-ls/erlang-ls.md
  src/main/resources/templates/erlang-ls/clientSettings.json
  src/main/resources/templates/erlang-ls/initializationOptions.json
  src/main/resources/templates/erlang-ls/settings.json
  src/main/resources/templates/erlang-ls/settings.schema.json
  src/main/resources/templates/erlang-ls/template.json
Labels: enhancement, template-ls, user-defined LS

#820 chore: add 0.10.0 changelog
  README.md
  docs/dap/UserGuide.md
  docs/dap/images/DAP_settings.png
  src/main/resources/META-INF/plugin.xml
Labels: documentation

#824 fix: ignore cancel exception while formatting
  src/main/java/com/redhat/devtools/lsp4ij/features/formatting/LSPFormattingSupport.java
Labels: bug, formatting

#833 feat: provide server installer API
  docs/LSPApi.md
  src/main/java/com/redhat/devtools/lsp4ij/client/features/AbstractLSPFeature.java
  src/main/java/com/redhat/devtools/lsp4ij/client/features/LSPClientFeatureAware.java
  src/main/java/com/redhat/devtools/lsp4ij/client/features/LSPClientFeatures.java
  src/main/java/com/redhat/devtools/lsp4ij/installation/LanguageServerInstallerBase.java
  src/main/java/com/redhat/devtools/lsp4ij/installation/ServerInstallationStatus.java
  src/main/java/com/redhat/devtools/lsp4ij/installation/ServerInstaller.java
  src/main/java/com/redhat/devtools/lsp4ij/installation/ServerInstallerBase.java
  src/main/resources/messages/LanguageServerBundle.properties
Labels: enhancement, api-customization

#783 feat: Gradle 2.x plugin SDK-based build
  .github/workflows/IJ-latest.yml
  .github/workflows/IJ.yml
  .github/workflows/ci.yml
  .gitignore
  build.gradle.kts
  gradle.properties
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.jar
  gradlew
  gradlew.bat
  settings.gradle.kts
  src/main/resources/META-INF/plugin.xml
  src/test/java/com/redhat/devtools/lsp4ij/features/completion/BootstrapPropertiesCompletionTest.java
  src/test/java/com/redhat/devtools/lsp4ij/features/foldingRange/JavaFoldingRangeTest.java
  src/test/java/com/redhat/devtools/lsp4ij/features/formatting/JavaClientSideFormatOnCloseBraceTest.java
  src/test/java/com/redhat/devtools/lsp4ij/features/formatting/JavaServerSideFormatOnCloseBraceTest.java
  src/test/java/com/redhat/devtools/lsp4ij/fixtures/LSPCompletionFixtureTestCase.java
Labels: build

#855 docs: add Python Debugpy in the DAP server list
  docs/dap/UserGuide.md
Labels: documentation, dap

#852 chore: fix nightly build and publish channel
  build.gradle.kts
Labels: build

#828 fix: Improved semantic highlighting performance for huge files
  src/main/java/com/redhat/devtools/lsp4ij/features/semanticTokens/LSPSemanticTokensHighlightVisitor.java
  src/main/java/com/redhat/devtools/lsp4ij/features/semanticTokens/LazyHighlightInfo.java
  src/main/java/com/redhat/devtools/lsp4ij/features/semanticTokens/SemanticTokensData.java
Labels: performance, semantic tokens

#865 chore: bump to 0.11.0
  gradle.properties
  src/main/resources/META-INF/plugin.xml
Labels: documentation
