Repository redhat-developer/lsp4ij, pull requests merged in 2025-01, with the labels that each got.

#724 feat: Support for description completionItem
  src/main/java/com/redhat/devtools/lsp4ij/client/features/LSPCompletionFeature.java
Labels: enhancement, completion

#742 docs: add mention that Qt Tools for Android Studio uses LSP4IJ
  README.md
Labels: documentation

#752 docs: add configuration screenshot
  docs/dap/user-defined-dap/vscode-js-debug.md
Labels: documentation

#755 feat: add Delve DAP server as template to debug Go
  docs/dap/DAP.md
  docs/dap/images/DAP_config_type_server.png
  docs/dap/images/DAP_debugging_overview.png
  docs/dap/images/DAP_vscode_js_debug_overview.png
  docs/dap/images/go-delve/configuration_tab.png
  docs/dap/images/go-delve/debug_console_tab.png
  docs/dap/images/go-delve/debug_threads_tab.png
  docs/dap/images/go-delve/file_mappings_tab.png
  docs/dap/images/go-delve/server_tab.png
  docs/dap/images/go-delve/set_breakpoint.png
  docs/dap/images/go-delve/set_traces.png
  docs/dap/images/go-delve/traces_in_console.png
  docs/dap/images/vscode-js-debug/debug_console_tab.png
  docs/dap/images/vscode-js-debug/debug_threads_tab.png
  docs/dap/images/vscode-js-debug/file_mappings_tab.png
  docs/dap/images/vscode-js-debug/server_tab.png
  docs/dap/images/vscode-js-debug/set_breakpoint.png
  docs/dap/images/vscode-js-debug/set_traces.png
  docs/dap/images/vscode-js-debug/traces_in_console.png
  docs/dap/user-defined-dap/go-delve.md
  docs/dap/user-defined-dap/vscode-js-debug.md
  src/main/java/com/redhat/devtools/lsp4ij/dap/DAPDebugProcess.java
  src/main/java/com/redhat/devtools/lsp4ij/dap/DAPServerReadyTracker.java
  src/main/java/com/redhat/devtools/lsp4ij/dap/client/DAPClient.java
  src/main/java/com/redhat/devtools/lsp4ij/dap/client/DAPValueModifier.java
  src/main/java/com/redhat/devtools/lsp4ij/dap/completion/DAPCompletionProcessor.java
  src/main/java/com/redhat/devtools/lsp4ij/dap/configurations/DAPRunConfigurationOptions.java
  src/main/java/com/redhat/devtools/lsp4ij/dap/configurations/extractors/AddressSegment.java
  src/main/java/com/redhat/devtools/lsp4ij/dap/configurations/extractors/DynamicSegment.java
  src/main/java/com/redhat/devtools/lsp4ij/dap/configurations/extractors/ExtractorResult.java
  src/main/java/com/redhat/devtools/lsp4ij/dap/configurations/extractors/NetworkAddressExtractor.java
  src/main/java/com/redhat/devtools/lsp4ij/dap/configurations/extractors/PortSegment.java
  src/main/java/com/redhat/devtools/lsp4ij/dap/configurations/extractors/Segment.java
  src/main/java/com/redhat/devtools/lsp4ij/dap/configurations/extractors/StaticSegment.java
  src/main/java/com/redhat/devtools/lsp4ij/dap/descriptors/DebugAdapterDescriptor.java
  src/main/java/com/redhat/devtools/lsp4ij/dap/descriptors/ServerReadyConfig.java
  src/main/resources/dap/templates/go-delve/attach.json
  src/main/resources/dap/templates/go-delve/launch.json
  src/main/resources/dap/templates/go-delve/template.json
  src/test/java/com/redhat/devtools/lsp4ij/dap/configurations/extractors/NetworkAddressExtractorTest.java
  src/test/java/com/redhat/devtools/lsp4ij/features/completion/snippet/PlaceholderTest.java
Labels: dap

#756 docs: fix delve url
  docs/dap/DAP.md
Labels: documentation

#757 fix: support DAP server with stdio
  docs/dap/images/swift-lldb/configuration_tab.png
  docs/dap/images/swift-lldb/debug_threads_tab.png
  docs/dap/images/swift-lldb/file_mappings_tab.png
  docs/dap/images/swift-lldb/set_breakpoint.png
  docs/dap/images/swift-lldb/set_traces.png
  docs/dap/images/swift-lldb/swift_executable.png
  docs/dap/images/swift-lldb/traces_in_console.png
  docs/dap/user-defined-dap/go-delve.md
  docs/dap/user-defined-dap/swift-lldb.md
  src/main/java/com/redhat/devtools/lsp4ij/dap/DAPDebugProcess.java
  src/main/resources/dap/templates/swift-lldb/template.json
  src/main/resources/messages/DAPBundle.properties
Labels: dap

#762 docs: add doc for DAP evaluation/completion/setValue features
  docs/dap/DAP.md
  docs/dap/images/DAP_debugging_completion.png
  docs/dap/images/DAP_debugging_evaluate.png
  docs/dap/images/DAP_debugging_setValue_edit.png
  docs/dap/images/DAP_debugging_setValue_menu.png
  src/main/java/com/redhat/devtools/lsp4ij/dap/client/DAPClient.java
  src/main/java/com/redhat/devtools/lsp4ij/dap/client/DAPValue.java
Labels: dap

#763 fix: add missing image for server Swift lldb
  docs/dap/images/swift-lldb/server_tab.png
Labels: dap

#764 docs: add DAP support doc
  docs/LSPSupport.md
  docs/dap/DAP.md
  docs/dap/DAPSupport.md
Labels: documentation, dap

#776 feat: set clientName on initialize of DAP server
  src/main/java/com/redhat/devtools/lsp4ij/dap/descriptors/DebugAdapterDescriptor.java
  src/main/java/com/redhat/devtools/lsp4ij/internal/IntelliJPlatformUtils.java
Labels: enhancement, dap

#779 fix: NPE in CommandExecutor
  src/main/java/com/redhat/devtools/lsp4ij/commands/CommandExecutor.java
Labels: bug

#787 feat: Statement group and code block selectioners
  src/main/java/com/redhat/devtools/lsp4ij/features/selectionRange/AbstractLSPExtendWordSelectionHandler.java
  src/main/java/com/redhat/devtools/lsp4ij/features/selectionRange/LSPCodeBlockBodySelectioner.java
  src/main/java/com/redhat/devtools/lsp4ij/features/selectionRange/LSPCodeBlockExtendWordSelectionHandler.java
  src/main/java/com/redhat/devtools/lsp4ij/features/selectionRange/LSPCodeBlockSelectioner.java
  src/main/java/com/redhat/devtools/lsp4ij/features/selectionRange/LSPCodeBlockStatementGroupSelectioner.java
  src/main/java/com/redhat/devtools/lsp4ij/features/selectionRange/LSPExtendWordSelectionHandler.java
  src/main/resources/META-INF/plugin.xml
  src/test/java/com/redhat/devtools/lsp4ij/features/selectionRange/TypeScriptSelectionersTest.java
  src/test/java/com/redhat/devtools/lsp4ij/fixtures/LSPSelectionersFixtureTestCase.java
  src/test/java/com/redhat/devtools/lsp4ij/mock/MockTextDocumentService.java
Labels: enhancement, selectionRange

#786 feat: Inlay hints refactor
  src/main/java/com/redhat/devtools/lsp4ij/LanguageServersRegistry.java
  src/main/java/com/redhat/devtools/lsp4ij/client/LanguageClientImpl.java
  src/main/java/com/redhat/devtools/lsp4ij/features/AbstractLSPInlayHintsProvider.java
  src/main/java/com/redhat/devtools/lsp4ij/features/color/LSPColorProvider.java
  src/main/java/com/redhat/devtools/lsp4ij/features/inlayhint/AbstractLSPDeclarativeInlayHintsProvider.java
  src/main/java/com/redhat/devtools/lsp4ij/features/inlayhint/LSPDeclarativeInlayActionHandler.java
  src/main/java/com/redhat/devtools/lsp4ij/features/inlayhint/LSPDeclarativeInlayHintProvidersFactory.java
  src/main/java/com/redhat/devtools/lsp4ij/features/inlayhint/LSPInlayHintsProvider.java
  src/main/java/com/redhat/devtools/lsp4ij/internal/editor/CodeVisionEditorFeature.java
  src/main/java/com/redhat/devtools/lsp4ij/internal/editor/DeclarativeInlayHintsEditorFeature.java
  src/main/java/com/redhat/devtools/lsp4ij/internal/editor/EditorFeature.java
  src/main/java/com/redhat/devtools/lsp4ij/internal/editor/EditorFeatureManager.java
  src/main/java/com/redhat/devtools/lsp4ij/internal/editor/EditorFeatureType.java
  src/main/java/com/redhat/devtools/lsp4ij/internal/editor/FoldingEditorFeature.java
  src/main/java/com/redhat/devtools/lsp4ij/internal/editor/InlayHintsEditorFeature.java
  src/main/java/com/redhat/devtools/lsp4ij/server/capabilities/InlayHintCapabilityRegistry.java
  src/main/resources/META-INF/plugin.xml
  src/main/resources/messages/LanguageServerBundle.properties
Labels: enhancement, inlayhint
