Repository redhat-developer/lsp4ij, pull requests merged in 2025-08, with the labels that each got.

#1209 docs(readme): add baml to the plugin list
  README.md
Labels: documentation

#1219 feat: show DAP variable value in hover
  src/main/java/com/redhat/devtools/lsp4ij/dap/evaluation/DAPDebuggerEvaluator.java
Labels: enhancement, hover, dap

#1221 feat: DAP API to customize debugger editors provider
  src/main/java/com/redhat/devtools/lsp4ij/dap/DAPDebugProcess.java
  src/main/java/com/redhat/devtools/lsp4ij/dap/DAPDebuggerEditorsProvider.java
  src/main/java/com/redhat/devtools/lsp4ij/dap/descriptors/DebugAdapterDescriptor.java
Labels: enhancement, dap

#1228 fix: don't show LS editor notif when a given plugin is installed
  src/main/java/com/redhat/devtools/lsp4ij/launching/templates/LanguageServerTemplate.java
Labels: bug

#1230 feat: add EO LSP Server
  docs/UserDefinedLanguageServer.md
  docs/images/user-defined-ls/eo-lsp-server/demo_ls.gif
  docs/images/user-defined-ls/eo-lsp-server/installer_tab.png
  docs/images/user-defined-ls/eo-lsp-server/language_server_installing.png
  docs/images/user-defined-ls/eo-lsp-server/new_language_server_dialog.png
  docs/images/user-defined-ls/eo-lsp-server/open_file.png
  docs/images/user-defined-ls/eo-lsp-server/textmate_bundles_settings.png
  docs/user-defined-ls/eo-lsp-server.md
  src/main/resources/templates/lsp/eo-lsp-server/clientSettings.json
  src/main/resources/templates/lsp/eo-lsp-server/installer.json
  src/main/resources/templates/lsp/eo-lsp-server/settings.json
  src/main/resources/templates/lsp/eo-lsp-server/settings.schema.json
  src/main/resources/templates/lsp/eo-lsp-server/template.json
Labels: enhancement, user-defined LS

#1237 docs: add 1.15.0 changelog
  src/main/resources/META-INF/plugin.xml
Labels: documentation
