Repository redhat-developer/lsp4ij, pull requests merged in 2025-07, with the labels that each got.

#1166 feat: Remove no more available parameter for Kafka with Camel LS
  src/main/resources/templates/lsp/camel-lsp-server/settings.json
  src/main/resources/templates/lsp/camel-lsp-server/settings.schema.json
Labels: bug, user-defined LS

#1167 fix: expose Camel LS in non dev mode
  src/main/resources/templates/lsp/camel-lsp-server/template.json
Labels: bug, user-defined LS

#1176 fix: Changed "StyleLint" to the correct case "Stylelint"
  docs/UserDefinedLanguageServer.md
  docs/user-defined-ls/stylelint-lsp.md
  src/main/resources/templates/lsp/stylelint-lsp/installer.json
  src/main/resources/templates/lsp/stylelint-lsp/settings.schema.json
  src/main/resources/templates/lsp/stylelint-lsp/template.json
Labels: bug, user-defined LS

#1177 feat: Preview support for LSP workspace symbols
  src/main/java/com/redhat/devtools/lsp4ij/features/workspaceSymbol/WorkspaceSymbolData.java
Labels: enhancement, workspace-symbol

#1186 fix: Support `repl evaluate` request for DAP in `Evaluate Window`
  src/main/java/com/redhat/devtools/lsp4ij/dap/evaluation/DAPDebuggerEvaluator.java
Labels: bug, dap

#1187 chore: bump to 0.15.0-SNAPSHOT
  gradle.properties
Labels: build

#1189 feat: improve DAP completions
  src/main/java/com/redhat/devtools/lsp4ij/client/features/LSPCompletionProposal.java
  src/main/java/com/redhat/devtools/lsp4ij/dap/completion/DAPCompletionProcessor.java
  src/main/java/com/redhat/devtools/lsp4ij/dap/completion/DAPLookupElementDecorator.java
  src/main/java/com/redhat/devtools/lsp4ij/internal/CompletionUtils.java
Labels: enhancement, completion, dap

#1194 fix: DAP completion apply fix
  src/main/java/com/redhat/devtools/lsp4ij/dap/completion/DAPLookupElementDecorator.java
Labels: bug, completion, dap

#1193 feat: Support runInTerminal (external only for Windows OS) request for DAP
  docs/dap/DAPSupport.md
  src/main/java/com/redhat/devtools/lsp4ij/dap/client/runInterminal/RunInTerminalManager.java
  src/main/java/com/redhat/devtools/lsp4ij/dap/client/runInterminal/RunInTerminalService.java
  src/main/java/com/redhat/devtools/lsp4ij/dap/client/runInterminal/external/ExternalTerminalService.java
  src/main/java/com/redhat/devtools/lsp4ij/dap/client/runInterminal/external/LinuxExternalTerminalService.java
  src/main/java/com/redhat/devtools/lsp4ij/dap/client/runInterminal/external/MacExternalTerminalService.java
  src/main/java/com/redhat/devtools/lsp4ij/dap/client/runInterminal/external/WindowsExternalTerminalService.java
  src/main/java/com/redhat/devtools/lsp4ij/dap/client/runInterminal/integrated/RunInIntegratedTerminalService.java
Labels: enhancement, dap

#1198 feat: show external runInTerminal error
  src/main/java/com/redhat/devtools/lsp4ij/dap/runInTerminal/external/ExternalTerminalService.java
  src/main/java/com/redhat/devtools/lsp4ij/dap/runInTerminal/external/LinuxExternalTerminalService.java
  src/main/java/com/redhat/devtools/lsp4ij/internal/ResponseErrorExceptionWrapper.java
Labels: enhancement, dap
